<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add</title>
  </head>
  <body>
    <div class="fixed-action-btn">
      <a
        href="/stories/add"
        class="btn-floating btn-large waves-effect waves-light red"
      ><i class="fas fa-plus"></i></a>
    </div>
  </body>
</html>